.dashboard {
    width: 100%;
    background-color: #e9ecef;
    padding: 30px
}
.menu-title {
    font-weight: 700;
    font-size: 18px;
    padding: 1rem;
    color: var(--main-blue);

}
.menu-admin-user .list-group-item {
    font-size: 14px;
    color: var(--main-black);
    border: none;
    background-color: #e9ecef;
}
.menu-admin-user .list-group-item:hover {
    color: #ccc;
}

.menu-admin-user .list-group-item.active {
    color: var(--main-black);
    border: none;
    font-weight: 700;
}

.dashboard-left {
    border-right: 1px solid #e2e2e2;
}
.dashboard-right {
    padding: 1rem;
}
.dashboard-right-title {
    font-size: 18px;
    font-weight: 700;
}

.dashboard-right .form-control {
    width: 50%;
}

.btn-action {
    margin: 10px 0;
    display: inline-flex;
    border-radius: 5px;
    align-items: center;
    margin-right: 10px;
    
}

.btn-action--submit {
    background-color: var(--main-blue);
}
.btn-action--delete {
    background-color: red;
}
.btn-action--edit {
    background-color: rgb(64, 64, 112);
}
.btn-no-title {
    background-color: #595353;
}
.btn-action button {
    color: var(--main-white);
    display: flex;
    align-items: center;
    gap: 2px;
}

.btn-action button svg {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.dashboard-table {
    background-color: var(--main-white);
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #e2e2e2;
}

.list-product-wp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.card-title {
    font-size: 14px;
    font-weight: 700;
}

.list-product-wp a {
    text-decoration: none;
    color: var(--main-black);
}

.card-text {
    font-size: 13px;
    color: #747272;
}

.card-img-top {
    height: 300px;
}

