@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
@import url('../src/assets/page/auth.css');
@import url('../src/assets/page/dashboard.css');
@import url('../src/assets/page/homepage.css');
@import url('../src/assets/page/productDetails.css');
@import url('../src/assets/page/category.css');
@import url('../src/assets/page/cart.css');

:root {
  --main-blue: #4961b1;
  --main-white: #fff;
  --main-black: #333;
  --main-gray: #f6f6f6;
  --border-gray: #e6e6e6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */
.content-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.navbar {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  left: 0;
  border: 0;
  right: 0;
  background: var(--main-white);
  width: 100%;
  z-index: 999;
}

.nav-link {
  color: var(--main-black);
  font-weight: 300 !important;
}

.nav-link:hover {
  color: var(--main-black);
}

.nav-item .active {
  border-bottom: 1px solid var(--main-black) ;
  color: var(--main-black);
}

.navbar-brand {
  width: 150px;
  height: 70px;
  overflow: hidden;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cart-item {
  position: relative;
  
}
.cart-item .cart-icon{
  font-size: 22px;
  color: var(--main-black);
}

.cart-number {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-white);
  font-size: 13px;
  position: absolute;
  top: -5px;
  right: -10px;
}

/*Footer*/

.footer {
  padding: 25px;
  color: var(--main-white);
  background-color: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  font-size: 14px;
}

.footer a{
  text-decoration: none;
  color: var(--main-white);
}

.footer a:hover {
  border-bottom: 1px solid var(--main-white);
}

/*page not found*/
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pnf-title {
  font-size: 100px;
  font-size: 700;
}

.pnf-btn {
  padding: 10px 15px;
  border: 1px solid var(--main-black);
  border-radius: 5px;
  text-decoration: none;
  color: var(--main-black);
}

.pnf-btn:hover {
  color: var(--main-black);
}

/*-------Contact--------*/
.contact {
  width: 960px;
  margin: 0 auto;
}
.contact-img {
  width: 100%;
}

.contact-btn {
  background-color: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  color: var(--main-white);
  padding: 5px 10px;
  border-radius: 5px;
}
